In [74]:
# importing necessary libraries.
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot  as plt

In [75]:
# importing dataset....
batsman_odi = pd.read_csv('batsman data odi.csv')
batsman_odi.head()

,Player Name,Country,Time Period,Matches,Played,Not Outs,Runs,Highest Score,Batting Average,Balls Faced,Strike Rate,Centuries,Fifties,Ducks,Fours,Sixes
0,ST Jayasuriya,Sri Lanka,1990-2008,25,24,1,1220,130,53.04,1190,102.52,6,3,1,139,23
1,KC Sangakkara,Sri Lanka,2004-2014,24,23,1,1075,121,48.86,1272,84.51,4,8,2,107,7
2,SR Tendulkar,India,1990-2012,23,21,2,971,114,51.10,1136,85.47,2,7,0,108,8
3,Shoaib Malik,Pakistan,2000-2018,17,15,3,786,143,65.50,867,90.65,3,3,0,76,8
4,RG Sharma,India,2008-2018,22,21,5,745,111,46.56,877,84.94,1,6,1,60,17

In [76]:
features = ['Player Name','Batting Average','Strike Rate','Runs', 'Not Outs'] # features considered
batsman_odi = batsman_odi.dropna(subset=features) # remove rows not dont have numerical value from the features.
batsman_odi = batsman_odi[features].copy()
batsman_odi

              Player Name  Batting Average  Strike Rate  Runs  Not Outs
0          ST Jayasuriya             53.04       102.52  1220         1
1          KC Sangakkara             48.86        84.51  1075         1
2           SR Tendulkar             51.10        85.47   971         2
3           Shoaib Malik             65.50        90.65   786         3
4              RG Sharma             46.56        84.94   745         5
5            A Ranatunga             57.00        82.79   741         6
6        Mushfiqur Rahim             36.78        84.52   699         2
7       DPMD Jayawardene             29.30        87.64   674         3
8               MS Dhoni             64.80        87.68   648         6
9            PA de Silva             32.25        83.44   645         2
10           MS Atapattu             64.20        71.09   642         2
11               V Kohli             61.30        97.14   613         0
12        Inzamam-ul-Haq             59.10        89.27   591         3
13             G Gambhir             44.07        89.95   573         0
14              SK Raina             60.77       113.95   547         4
15           Younis Khan             49.63       100.55   546         2
16              S Dhawan             59.33        91.43   534         0
17         Shahid Afridi             35.46       140.74   532         6
18              NS Sidhu             66.25        77.71   530         4
19           Tamim Iqbal             43.25        81.34   519         1
20            SC Ganguly             51.80        74.00   518         2
21            Umar Akmal             51.00        99.41   510         2
22              V Sehwag             39.15       113.87   509         0
23       Mohammad Yousuf             54.44        76.80   490         3
24          M Azharuddin             58.50        83.12   468         5
25         Misbah-ul-Haq             46.55        85.51   419         4
26       Mohammad Hafeez             44.77        69.36   403         0
27       Shakib Al Hasan             33.50       103.07   402         1
28        Athar Ali Khan             36.80        57.41   368         1
29            TM Dilshan             21.64        90.19   368         1
30         CK Kapugedera             40.55        82.39   365         2
31       HDRL Thirimanne             45.37        76.10   363         0
32            Akram Khan             28.75        63.30   345         1
33              R Dravid             37.11        78.22   334         0
34            AD Mathews             82.75        82.33   331         6
35           Mahmudullah             25.23        62.47   328         6
36           Saeed Anwar             35.55        77.66   320         0
37     Mohammad Ashraful             26.33        62.69   316         0
38          Yuvraj Singh             39.00        88.13   312         2
39      Mohammad Shahzad             34.22        81.69   308         0
40           WU Tharanga             33.77        80.21   304         0
41            KD Karthik             43.14        73.65   302         4
42         Nasir Jamshed             74.50        99.33   298         2
43          AP Gurusinha             31.22        63.86   281         1
44         Asghar Afghan             34.62        76.94   277         1
45           RS Mahanama             21.00        55.60   273         1
46  Hashmatullah Shahidi             65.75        72.25   263         1
47             AT Rayudu             43.33        81.76   260         3
48            Fawad Alam            251.00        89.32   251         2
49            Javed Omar             41.66        55.92   250         1

In [77]:
# scaling the data.
scaler = StandardScaler()
features = ['Batting Average','Strike Rate','Runs', 'Not Outs']
scaled_data = pd.DataFrame( scaler.fit_transform(batsman_odi[features]) , columns = features )
scaled_data

    Batting Average  Strike Rate      Runs  Not Outs
0          0.094416     1.216001  3.428727 -0.588817
1         -0.036744     0.053707  2.750151 -0.588817
2          0.033543     0.115661  2.263448 -0.053529
3          0.485385     0.449958  1.397679  0.481759
4         -0.108913     0.081457  1.205806  1.552334
5          0.218673    -0.057295  1.187087  2.087622
6         -0.415789     0.054352  0.990534 -0.053529
7         -0.650496     0.255705  0.873538  0.481759
8          0.463421     0.258286  0.751862  2.087622
9         -0.557931    -0.015347  0.737823 -0.053529
10         0.444594    -0.812367  0.723783 -0.053529
11         0.353598     0.868797  0.588068 -1.124104
12         0.284566     0.360898  0.485112  0.481759
13        -0.187044     0.404783  0.400875 -1.124104
14         0.336968     1.953648  0.279199  1.017047
15        -0.012583     1.088865  0.274519 -0.053529
16         0.291783     0.500296  0.218361 -1.124104
17        -0.457208     3.682569  0.209001  2.087622
18         0.508919    -0.385138  0.199642  1.017047
19        -0.212774    -0.150872  0.148164 -0.588817
20         0.055508    -0.624567  0.143484 -0.053529
21         0.030405     1.015294  0.106045 -0.053529
22        -0.341423     1.948485  0.101365 -1.124104
23         0.138345    -0.443866  0.012448  0.481759
24         0.265740    -0.035998 -0.090508  1.552334
25        -0.109227     0.118243 -0.319820  1.017047
26        -0.165079    -0.924014 -0.394697 -1.124104
27        -0.518709     1.251496 -0.399377 -0.588817
28        -0.415161    -1.695220 -0.558491 -0.588817
29        -0.890851     0.420272 -0.558491 -0.588817
30        -0.297494    -0.083110 -0.572531 -0.053529
31        -0.146253    -0.489041 -0.581891 -1.124104
32        -0.667754    -1.315103 -0.666128 -0.588817
33        -0.405434    -0.352225 -0.717606 -1.124104
34         1.026655    -0.086982 -0.731645  2.087622
35        -0.778204    -1.368667 -0.745685  2.087622
36        -0.454384    -0.388365 -0.783123 -1.124104
37        -0.743688    -1.354470 -0.801843 -1.124104
38        -0.346130     0.287327 -0.820562 -0.053529
39        -0.496117    -0.128285 -0.839281 -1.124104
40        -0.510237    -0.223798 -0.858001 -1.124104
41        -0.216225    -0.647155 -0.867360  1.017047
42         0.767787     1.010131 -0.886080 -0.053529
43        -0.590250    -1.278962 -0.965637 -0.588817
44        -0.483565    -0.434831 -0.984356 -0.588817
45        -0.910933    -1.812030 -1.003076 -0.588817
46         0.493230    -0.737505 -1.049874 -0.588817
47        -0.210264    -0.123767 -1.063913  0.481759
48         6.305992     0.364125 -1.106032 -0.053529
49        -0.262665    -1.791379 -1.110712 -0.588817

In [78]:
''' To find how many clusers are to be formed '''
def elbow_plot( min_k, max_k, k_max_iter):
    sum_squared_distances = []
    k_range = range(min_k,max_k+1)
    for k in k_range:
        km = KMeans(n_clusters=k, max_iter=k_max_iter, n_init=10)
        km.fit(scaled_data)
        sum_squared_distances.append(km.inertia_)
        
    # Plot the score for each value of k
    plt.plot(k_range, sum_squared_distances, 'bx-')
    plt.xlabel('k')
    plt.ylabel('Sum of squared distances')
    plt.title('Elbow Method For Optimal k')
    plt.show()

In [79]:
# elbow_plot(2,12,15)

In [80]:
# Clustering the players using k-means algorithm.
km = KMeans(n_clusters=3,n_init=50)
scaled_data['Cluster'] = km.fit_predict(scaled_data) # assigning the cluster number for each datapoint in the dataframe.
scaled_data

C:\Users\Home\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

    Batting Average  Strike Rate      Runs  Not Outs  Cluster
0          0.094416     1.216001  3.428727 -0.588817        0
1         -0.036744     0.053707  2.750151 -0.588817        0
2          0.033543     0.115661  2.263448 -0.053529        0
3          0.485385     0.449958  1.397679  0.481759        0
4         -0.108913     0.081457  1.205806  1.552334        0
5          0.218673    -0.057295  1.187087  2.087622        0
6         -0.415789     0.054352  0.990534 -0.053529        0
7         -0.650496     0.255705  0.873538  0.481759        0
8          0.463421     0.258286  0.751862  2.087622        0
9         -0.557931    -0.015347  0.737823 -0.053529        0
10         0.444594    -0.812367  0.723783 -0.053529        0
11         0.353598     0.868797  0.588068 -1.124104        0
12         0.284566     0.360898  0.485112  0.481759        0
13        -0.187044     0.404783  0.400875 -1.124104        0
14         0.336968     1.953648  0.279199  1.017047        0
15        -0.012583     1.088865  0.274519 -0.053529        0
16         0.291783     0.500296  0.218361 -1.124104        0
17        -0.457208     3.682569  0.209001  2.087622        0
18         0.508919    -0.385138  0.199642  1.017047        0
19        -0.212774    -0.150872  0.148164 -0.588817        1
20         0.055508    -0.624567  0.143484 -0.053529        1
21         0.030405     1.015294  0.106045 -0.053529        0
22        -0.341423     1.948485  0.101365 -1.124104        0
23         0.138345    -0.443866  0.012448  0.481759        0
24         0.265740    -0.035998 -0.090508  1.552334        0
25        -0.109227     0.118243 -0.319820  1.017047        0
26        -0.165079    -0.924014 -0.394697 -1.124104        1
27        -0.518709     1.251496 -0.399377 -0.588817        0
28        -0.415161    -1.695220 -0.558491 -0.588817        1
29        -0.890851     0.420272 -0.558491 -0.588817        1
30        -0.297494    -0.083110 -0.572531 -0.053529        1
31        -0.146253    -0.489041 -0.581891 -1.124104        1
32        -0.667754    -1.315103 -0.666128 -0.588817        1
33        -0.405434    -0.352225 -0.717606 -1.124104        1
34         1.026655    -0.086982 -0.731645  2.087622        0
35        -0.778204    -1.368667 -0.745685  2.087622        1
36        -0.454384    -0.388365 -0.783123 -1.124104        1
37        -0.743688    -1.354470 -0.801843 -1.124104        1
38        -0.346130     0.287327 -0.820562 -0.053529        1
39        -0.496117    -0.128285 -0.839281 -1.124104        1
40        -0.510237    -0.223798 -0.858001 -1.124104        1
41        -0.216225    -0.647155 -0.867360  1.017047        1
42         0.767787     1.010131 -0.886080 -0.053529        0
43        -0.590250    -1.278962 -0.965637 -0.588817        1
44        -0.483565    -0.434831 -0.984356 -0.588817        1
45        -0.910933    -1.812030 -1.003076 -0.588817        1
46         0.493230    -0.737505 -1.049874 -0.588817        1
47        -0.210264    -0.123767 -1.063913  0.481759        1
48         6.305992     0.364125 -1.106032 -0.053529        2
49        -0.262665    -1.791379 -1.110712 -0.588817        1

In [81]:
scaled_data.insert(0,'Player Name',batsman_odi['Player Name']) # adding player name to the cluster...
scaled_data.head(3)

      Player Name  Batting Average  Strike Rate      Runs  Not Outs  Cluster
0  ST Jayasuriya          0.094416     1.216001  3.428727 -0.588817        0
1  KC Sangakkara         -0.036744     0.053707  2.750151 -0.588817        0
2   SR Tendulkar          0.033543     0.115661  2.263448 -0.053529        0

In [82]:
# spliting the dataframe into diffrent clusters.
b0 = scaled_data.loc[scaled_data['Cluster']==0]
b1 = scaled_data.loc[scaled_data['Cluster']==1]
b2 = scaled_data.loc[scaled_data['Cluster']==2]

In [83]:
len(b0)

27

In [84]:
len(b1)

22

In [85]:
len(b2)

1