In [13]:
# importing necessary libraries.
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot  as plt
import seaborn as sns

In [14]:
# importing dataset....
bowler_t20 = pd.read_csv('bowler data t20i.csv')
bowler_t20.head()

,Player Name,Country,Time Period,Matches,Played,Overs,Maiden Overs,Runs,Wickets,Best Figure,Bowling Average,Economy Rate,Strike Rate,Four Wickets,Five Wickets
0,B Kumar,India,2016-2022,6,6,23.0,3,123,13,5/4,9.46,5.34,10.6,1,1
1,Amjad Javed,UAE,2016-2016,7,7,23.0,0,169,12,3/25,14.08,7.34,11.5,0,0
2,Al-Amin Hossain,Bangladesh,2016-2016,5,5,16.5,0,134,11,3/25,12.18,7.96,9.1,0,0
3,Mohammad Naveed,UAE,2016-2016,7,7,27.4,2,145,11,3/14,13.18,5.24,15.0,0,0
4,Rashid Khan,Afghanistan,2016-2022,8,8,31.0,0,202,11,3/22,18.36,6.51,16.9,0,0

In [15]:
features = ['Player Name', 'Wickets','Bowling Average','Economy Rate'] # features considered.
bowler_t20 = bowler_t20.dropna(subset=features)
bowler_t20 = bowler_t20[features].copy()
bowler_t20

           Player Name  Wickets  Bowling Average  Economy Rate
0             B Kumar        13             9.46          5.34
1         Amjad Javed        12            14.08          7.34
2     Al-Amin Hossain        11            12.18          7.96
3     Mohammad Naveed        11            13.18          5.24
4         Rashid Khan        11            18.36          6.51
5           HH Pandya        11            18.81          7.01
6        PWH de Silva         9            18.88          7.39
7         Shadab Khan         8            14.12          6.05
8          Haris Rauf         8            19.12          7.65
9      Mohammad Nawaz         8            21.75          7.05
10      Mohammad Amir         7            11.57          5.06
11    KMDN Kulasekara         7            13.57          6.33
12   Mujeeb Ur Rahman         7            15.85          5.55
13        Naseem Shah         7            19.71          7.66
14      C Karunaratne         7            20.71          9.06
15      Mohammad Nabi         7            30.00          7.24
16    PM Liyanagamage         6             9.16          8.91
17          JJ Bumrah         6            15.66          5.22
18            A Nehra         6            16.50          7.07
19           R Ashwin         6            23.83          6.50
20      Rohan Mustafa         6            24.33          7.00
21   Fazalhaq Farooqi         6            25.33          8.36
22    Shakib Al Hasan         6            25.33          6.16
23       D Madushanka         6            25.83          7.75
24       M Theekshana         6            27.00          6.75
25     Mohammad Irfan         5            17.40          5.43
26       Fareed Ahmad         5            17.60         11.00
27   Mashrafe Mortaza         5            22.80          7.12
28       Taskin Ahmed         5            27.60          6.00
29     Arshdeep Singh         5            30.20          8.62
30         SL Malinga         4             6.50          6.50
31        Mahmudullah         4             7.00          4.66
32       Nadeem Ahmed         4            19.25          6.41
33       Aamir Kaleem         4            21.00          8.40
34         Bilal Khan         4            22.75          8.27
35          RA Jadeja         4            26.50          5.88
36          YS Chahal         4            31.75          7.93
37   Mohammad Hasnain         4            33.50          8.93
38  Mustafizur Rahman         4            33.50          7.05
39   Mohammad Shahzad         4            39.00          8.13
40         Aizaz Khan         4            47.25         10.80

In [16]:
# scaling the data.
scaler = StandardScaler()
features = ['Wickets','Bowling Average','Economy Rate']
scaled_data = pd.DataFrame( scaler.fit_transform(bowler_t20[features]) , columns = features )
scaled_data

     Wickets  Bowling Average  Economy Rate
0   2.626080        -1.372356     -1.280230
1   2.221308        -0.830858      0.131725
2   1.816537        -1.053552      0.569431
3   1.816537        -0.936345     -1.350828
4   1.816537        -0.329210     -0.454236
5   1.816537        -0.276467     -0.101248
6   1.006993        -0.268262      0.167024
7   0.602221        -0.826170     -0.778986
8   0.602221        -0.240132      0.350578
9   0.602221         0.068123     -0.073008
10  0.197450        -1.125049     -1.477904
11  0.197450        -0.890634     -0.581312
12  0.197450        -0.623401     -1.131975
13  0.197450        -0.170980      0.357638
14  0.197450        -0.053772      1.346007
15  0.197450         1.035085      0.061127
16 -0.207322        -1.407519      1.240110
17 -0.207322        -0.645670     -1.364947
18 -0.207322        -0.547216     -0.058889
19 -0.207322         0.311915     -0.461296
20 -0.207322         0.370518     -0.108307
21 -0.207322         0.487726      0.851822
22 -0.207322         0.487726     -0.701328
23 -0.207322         0.546330      0.421176
24 -0.207322         0.683462     -0.284802
25 -0.612094        -0.441729     -1.216692
26 -0.612094        -0.418288      2.715603
27 -0.612094         0.191191     -0.023590
28 -0.612094         0.753787     -0.814285
29 -0.612094         1.058526      1.035376
30 -1.016866        -1.719290     -0.461296
31 -1.016866        -1.660687     -1.760295
32 -1.016866        -0.224895     -0.524834
33 -1.016866        -0.019782      0.880061
34 -1.016866         0.185331      0.788284
35 -1.016866         0.624859     -0.899002
36 -1.016866         1.240198      0.548252
37 -1.016866         1.445311      1.254229
38 -1.016866         1.445311     -0.073008
39 -1.016866         2.089952      0.689447
40 -1.016866         3.056913      2.574408

In [17]:
''' To find how many clusers are to be formed '''
def elbow_plot( min_k, max_k, k_max_iter):
    sum_squared_distances = []
    k_range = range(min_k,max_k+1)
    for k in k_range:
        km = KMeans(n_clusters=k, max_iter=k_max_iter, n_init=50)
        km.fit(scaled_data)
        sum_squared_distances.append(km.inertia_)
        
    # Plot the score for each value of k
    plt.plot(k_range, sum_squared_distances, 'bx-')
    plt.xlabel('k')
    plt.ylabel('Sum of squared distances')
    plt.title('Elbow Method For Optimal k')
    plt.show()

In [18]:
# elbow_plot(2,12,15)

In [19]:
# Clustering the players using k-means algorithm.
km = KMeans(n_clusters=3,n_init=50)
scaled_data['Cluster'] = km.fit_predict(scaled_data) # assigning the cluster number for each datapoint in the dataframe.
scaled_data

C:\Users\Home\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

     Wickets  Bowling Average  Economy Rate  Cluster
0   2.626080        -1.372356     -1.280230        2
1   2.221308        -0.830858      0.131725        2
2   1.816537        -1.053552      0.569431        2
3   1.816537        -0.936345     -1.350828        2
4   1.816537        -0.329210     -0.454236        2
5   1.816537        -0.276467     -0.101248        2
6   1.006993        -0.268262      0.167024        2
7   0.602221        -0.826170     -0.778986        1
8   0.602221        -0.240132      0.350578        1
9   0.602221         0.068123     -0.073008        1
10  0.197450        -1.125049     -1.477904        1
11  0.197450        -0.890634     -0.581312        1
12  0.197450        -0.623401     -1.131975        1
13  0.197450        -0.170980      0.357638        1
14  0.197450        -0.053772      1.346007        0
15  0.197450         1.035085      0.061127        0
16 -0.207322        -1.407519      1.240110        1
17 -0.207322        -0.645670     -1.364947        1
18 -0.207322        -0.547216     -0.058889        1
19 -0.207322         0.311915     -0.461296        1
20 -0.207322         0.370518     -0.108307        1
21 -0.207322         0.487726      0.851822        0
22 -0.207322         0.487726     -0.701328        1
23 -0.207322         0.546330      0.421176        0
24 -0.207322         0.683462     -0.284802        1
25 -0.612094        -0.441729     -1.216692        1
26 -0.612094        -0.418288      2.715603        0
27 -0.612094         0.191191     -0.023590        1
28 -0.612094         0.753787     -0.814285        1
29 -0.612094         1.058526      1.035376        0
30 -1.016866        -1.719290     -0.461296        1
31 -1.016866        -1.660687     -1.760295        1
32 -1.016866        -0.224895     -0.524834        1
33 -1.016866        -0.019782      0.880061        0
34 -1.016866         0.185331      0.788284        0
35 -1.016866         0.624859     -0.899002        1
36 -1.016866         1.240198      0.548252        0
37 -1.016866         1.445311      1.254229        0
38 -1.016866         1.445311     -0.073008        0
39 -1.016866         2.089952      0.689447        0
40 -1.016866         3.056913      2.574408        0

In [20]:
scaled_data.insert(0,'Player Name',bowler_t20['Player Name']) # adding player name to the cluster...
scaled_data

           Player Name   Wickets  Bowling Average  Economy Rate  Cluster
0             B Kumar   2.626080        -1.372356     -1.280230        2
1         Amjad Javed   2.221308        -0.830858      0.131725        2
2     Al-Amin Hossain   1.816537        -1.053552      0.569431        2
3     Mohammad Naveed   1.816537        -0.936345     -1.350828        2
4         Rashid Khan   1.816537        -0.329210     -0.454236        2
5           HH Pandya   1.816537        -0.276467     -0.101248        2
6        PWH de Silva   1.006993        -0.268262      0.167024        2
7         Shadab Khan   0.602221        -0.826170     -0.778986        1
8          Haris Rauf   0.602221        -0.240132      0.350578        1
9      Mohammad Nawaz   0.602221         0.068123     -0.073008        1
10      Mohammad Amir   0.197450        -1.125049     -1.477904        1
11    KMDN Kulasekara   0.197450        -0.890634     -0.581312        1
12   Mujeeb Ur Rahman   0.197450        -0.623401     -1.131975        1
13        Naseem Shah   0.197450        -0.170980      0.357638        1
14      C Karunaratne   0.197450        -0.053772      1.346007        0
15      Mohammad Nabi   0.197450         1.035085      0.061127        0
16    PM Liyanagamage  -0.207322        -1.407519      1.240110        1
17          JJ Bumrah  -0.207322        -0.645670     -1.364947        1
18            A Nehra  -0.207322        -0.547216     -0.058889        1
19           R Ashwin  -0.207322         0.311915     -0.461296        1
20      Rohan Mustafa  -0.207322         0.370518     -0.108307        1
21   Fazalhaq Farooqi  -0.207322         0.487726      0.851822        0
22    Shakib Al Hasan  -0.207322         0.487726     -0.701328        1
23       D Madushanka  -0.207322         0.546330      0.421176        0
24       M Theekshana  -0.207322         0.683462     -0.284802        1
25     Mohammad Irfan  -0.612094        -0.441729     -1.216692        1
26       Fareed Ahmad  -0.612094        -0.418288      2.715603        0
27   Mashrafe Mortaza  -0.612094         0.191191     -0.023590        1
28       Taskin Ahmed  -0.612094         0.753787     -0.814285        1
29     Arshdeep Singh  -0.612094         1.058526      1.035376        0
30         SL Malinga  -1.016866        -1.719290     -0.461296        1
31        Mahmudullah  -1.016866        -1.660687     -1.760295        1
32       Nadeem Ahmed  -1.016866        -0.224895     -0.524834        1
33       Aamir Kaleem  -1.016866        -0.019782      0.880061        0
34         Bilal Khan  -1.016866         0.185331      0.788284        0
35          RA Jadeja  -1.016866         0.624859     -0.899002        1
36          YS Chahal  -1.016866         1.240198      0.548252        0
37   Mohammad Hasnain  -1.016866         1.445311      1.254229        0
38  Mustafizur Rahman  -1.016866         1.445311     -0.073008        0
39   Mohammad Shahzad  -1.016866         2.089952      0.689447        0
40         Aizaz Khan  -1.016866         3.056913      2.574408        0

In [21]:
# spliting the dataframe into diffrent clusters.
b0 = scaled_data.loc[scaled_data['Cluster']==0]
b1 = scaled_data.loc[scaled_data['Cluster']==1]
b2 = scaled_data.loc[scaled_data['Cluster']==2]

In [22]:
len(b0)

13

In [23]:
len(b1)

21

In [24]:
len(b2)

7